services:
  - type: web
    name: cpan213-assignment2
    plan: free
    env: node
    region: oregon
    rootDir: Assignment_2_Mongoose_Express_EJS_MongoDB
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: MONGODB_URI
        sync: false
      - key: SESSION_SECRET
        sync: false
      - key: NODE_ENV
        value: production
      - key: NODE_VERSION
        value: 18.18.2
